* { box-sizing: inherit; color: #333; }
*:not(pre) { font-family: Roboto, sans-serif; }

body {
	padding: 0;
	margin: 8px;
	border: 1px solid #BBB;
	background-color: #F0FFFF;
	background-image: linear-gradient(to right, #F0FFFF, #F2F9FF, #F0FFFF);
}

h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 { font-size: 2em; }

article {
	padding: 8px;
	background-color: #F2F9FF;
	background-image: linear-gradient(#DFEADD, #F2F9FF, #DFEADD);
}

header {
	margin-bottom: 32px;
	display: flow-root;
}

header h1 a { text-decoration: none; color: #222; }
header h1 a:hover { text-decoration: underline; }
a { text-decoration-color: #999; }
a:hover { color: #000; text-decoration-color: #111; }

header h1 span {
	color: #888;
	font-weight: normal;
	font-style: italic;
	font-size: 0.5em;
	float: right;
	text-align: right;
}

footer {
	text-align: center;
	opacity: 0.25;
}